
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}


<html>
    <head>

        <link rel="stylesheet" href="{% static 'post_user_detail_style.css' %}">
        <title>Check Answers Detail</title>
    </head>

    <body>
    <style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }
        textarea {
          outline: none;
          width: 300px;
          height: 150px;
        }

</style>

        <div class="firstdiv">
            <h1>{{ challenge.title }}</h1>

            <p>{{ challenge.description }}</p>

            {% if challenge.image %}
                <img src="{{ challenge.image.url }}" width="240">
            {% endif %}
            <div class="second">

                <h3>{{ post_users.user }}</h3>

                <textarea readonly id ="copyArea" class="copy" >{{ post_users.answer }}</textarea>

                <p>{{ post_users.date }}</p>

                {% if post_users.voice %}
                <audio controls preload="auto">
                    <source src="{{ post_users.voice.url }}" type="audio/mpeg"/>
                    Your browser does not support the audio element.
                </audio>
                {% endif %}

                <div class="fifth">


                        <h2>{{ answers.user}}</h2>

                        <textarea readonly id="newPasteArea"> {{ answers.text }}</textarea>
                        <p>{{ answers.date }}</p>


                        <button id="btnCompare">Show differences</button>



                        <div id="divColLeft"></div>
                        <div id="divColRight"></div>


                </div>

            </div>

            </div>

    <div class="col-md-7">

      {% with allcomments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
      {% endwith %}

      {% load mptt_tags %}

      <div>
        {% recursetree comments %}
        <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">
          <div class="d-flex justify-content-between">By {{ node.user }}<div></div>{{ node.created }}</div>
          <div>{{ node.body }}</div>
          <hr />
          {% if node.level < 3 %}
          <button class="button" onclick="myFunction({{ node.id }})">Reply</button>
          {% endif %}
        </div>
        {% if not node.is_leaf_node %}
        <div class="children pl-2 pl-md-5">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}
      </div>

      <div class="py-4">
        <nav aria-label="Page navigation example">
          {% if comments.has_other_pages %}
          <ul class="pagination">
            {% if comments.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for num in comments.paginator.page_range %}
            {% if comments.number == l %}
            <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {% if comments.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </div>

      <div id="myDIV" style="display:block;">
        <form id="myForm" method="post">
          <h2>Create new comment</h2>
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
    <script>
                                     $(function () {

                                $('#btnCompare').on('click', function () {
                                    compare();
                                    return false;
                                });

                                function compare() {
                                    $('#divColLeft').empty();
                                    $('#divColRight').empty();

                                    var textOne = $.trim($('#copyArea').val());
                                    var textTwo = $.trim($('#newPasteArea').val());

                                    var TempArr1 = textOne.split(' ');
                                    var TempArr2 = textTwo.split(' ');
                                    var arr1 = [];
                                    for (var i = 0; i < TempArr1.length; i++) {
                                        if (TempArr1[i] !== "" && TempArr1[i] !== null) {
                                            arr1.push(TempArr1[i]);
                                        }
                                    }

                                    var arr2 = [];
                                    for (var i = 0; i < TempArr2.length; i++) {
                                        if (TempArr2[i] !== "" && TempArr2[i] !== null) {
                                            arr2.push(TempArr2[i]);
                                        }
                                    }
                                    var minArrLen = arr1.length < arr2.length ? arr1.length : arr2.length;

                                    for (var x = 0; x < minArrLen; x++) {

                                        var maxCharLen = arr1[x].length > arr2[x].length ? arr1[x].length : arr2[x].length;
                                        for (var y = 0; y < maxCharLen; y++) {
                                            if (arr1[x].charAt(y) == ' ') {
                                                $('#divColLeft').append('<span  class="missing">' + arr2[x].charAt(y) + '</span>');

                                                $('#divColRight').append('<span class="missmatch">' + arr2[x].charAt(y)) + '</span>';
                                            }
                                            else if (arr2[x].charAt(y) == ' ') {
                                                $('#divColLeft').append('<span class="missing">' + arr1[x].charAt(y) + '</span>');

                                                $('#divColRight').append('<span class="missmatch">' + arr1[x].charAt(y)) + '</span>';
                                            } else if (arr1[x].charAt(y) == arr2[x].charAt(y)) {
                                                $('#divColLeft,#divColRight').append(arr1[x].charAt(y));
                                            }
                                            else {
                                                $('#divColLeft').append('<span  class="missmatch">' + arr1[x].charAt(y) + '</span>');
                                                $('#divColRight').append('<span  class="missing">' + arr2[x].charAt(y) + '</span>');
                                            }
                                        }
                                        $('#divColLeft').append(' ');
                                        $('#divColRight').append(' ');
                                    }

                                    if (minArrLen < arr1.length) {
                                        for (var Len=minArrLen; Len < arr1.length; Len++) {
                                            $('#divColLeft').append(arr1[Len])
                                                            .append(' ');
                                        }
                                    } else if (minArrLen < arr2.length) {
                                        for (var Len=minArrLen; Len < arr2.length; Len++) {
                                            $('#divColRight').append( arr2[Len] )
                                                            .append(' ');
                                        }
                                    }
                                }
                            });


  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();


    }

    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
    '<form id="newForm" class="form-insert py-2" method="post">' +
                '<div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div>' +




                '<label for="id_content">Content:</label>' +
                '<textarea name="body" cols="40" rows="5" class="form-control" required id="id_content"></textarea>' +
                '<select name="parent" class="d-none" id="id_parentt">' +
                '<option value="' + id + '" selected="' + id + '"></option>' +
                '</select>' +
                '{% csrf_token %}' +

                '<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>' +
              '</form>');
;


    //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

  $('#myForm').trigger("reset");

    </script>

    </body>
</html>

{% endblock %}