
    {% block sidebar %}

        <style>

                .card{

                    box-shadow: 0 16px 48px #E3E7EB;
                }

        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
        <div class="card my-4">
                <h5 class="card-header">User Information</h5>
            <div class="card-body">
                <p class="card-text"> {{ user.username | upper }}</p>
                <p class="card-text"> {{ user.usuarios.user_language_learning | upper }}</p>
                <p class="card-text"> {{ user.usuarios.user_language_native | upper }}</p>
                <a href="{% url 'retos:know' %}"
                   class="btn btn-danger">Want to know more?</a>
            </div>
        </div>
        </div>

{% endblock sidebar %}